.body-class {
    font-family: 'Roboto', sans-serif;
    background-color:#1F2937
}

.nav-bar {
    display: flex;
    background-color: #1F2937;
    gap: 10px;
    justify-content: right;
}

#logo {
    font-size: 20px;
    flex: 2;
}

.main-heading {
    padding-top: 100px;
    display: flex;
    justify-content: left;
}

.section-1 {
    background-color:white;
    padding:40px;
}

.section-2 {
    background-color: lightgray;
    padding: 40px;
}
