/* Content Containers are spaced with margin-top: 25px; */

.body-class {
    font-family: 'Roboto', sans-serif;
    background: rgba(115, 48, 70, .85);
    background-repeat: no-repeat;
    margin: 40px;
    margin-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    background-color: rgb(115, 48, 70,);
    gap: 30px;
    color: white;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
    font-weight: bold;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #F7E6B1;
}

#page-header {
    font-size: 32px;
    flex: 2;
    color:F9FAF8;
}

#logo-img {
    height: 300px;
    width: 300px;
}

.heading {
    padding-top: 100px;
    padding-bottom: 125px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    color: white;
    height: 300px;
    border: solid;
    border-radius: 10px;
    border-color:#F7E6B1;
    border-width: 5px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgba(115, 48, 70, 1);
}

.splash {
    width: 350px;
}

.splash h1 {
    font-size: 54px;
    font-weight: 800;
    color:F9FAF8;
}

.subtext {
    color: lightgray;
    font-size: 16px;
}

.button {
    background-color: #6CCDD5;
    color: whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: initial;
    font-weight: bold;
}

.button:hover{
    color: black;
    background-color: #F7E6B1;
}

.main {
    background-color: rgba(115, 48, 70, 1);
    font-size: 36px;
    text-align: center;
    border: solid;
    border-color:#6CCDD5;
    border-radius: 10px;
    border-width: 5px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    padding-bottom: 100px;
}

.info-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    color: white;
}

 /* Image blocks container */
#blocks {
    background: rgba(115, 48, 70, 1);
    background-repeat: no;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    color: white;
}

#blocks img {
    border: solid;
    border-color: #6CCDD5;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.quote {
    background-color: rgba(115, 48, 70, 1);
    font-family: Roboto;
    border: solid;
    border-color: #F7E6B1;
    border-radius: 10px;
    border-width: 5px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 30px;
    color: white;
}

.quote h3 {
    font-size: 25px;
    color:#F7E6B1;
}


.call-action {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 25px;
    border: solid;
    border-color:#6CCDD5;
    border-width: 10px;
    border-radius: 10px;
    background-color: #6ccdd5;
    color: white;
    padding: 10px;
}

#action-butt {
    border-style:initial;
    border-radius: 5px;
    height: 35px;
    width: 85px;   
    margin-left: 480px;
    background-color: white;
    font-size: 15px;
}

#action-butt:hover {
    color: white;
    background-color: rgba(115, 48, 70, .85);
}

.call-action h3 {
    font-size: 24px;
}

.call-action h5 {
    font-size: 18px;
}

.bottom {
    text-align: center;
    margin-top: 25px;
    background: rgba(115, 48, 70, .85);
    padding: 10px;
    border: solid;
    border-color:#F7E6B1;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-family: Roboto;
}