.body-class {
    font-family: 'Roboto', sans-serif;
    background: #1F2937;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 10px;
}

.nav-bar {
    display: flex;
    background-color: #1F2937;
    gap: 10px;
    color: white;
    font-size:18px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
}

#logo {
    font-size: 24px;
    flex: 2;
    color:F9FAF8;
}

.main-heading {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    color: white;
    height: 300px;
    
}

.splash {
    width: 350px;
}

.splash h1 {
    font-size: 48px;
    font-weight: 800;
    color:F9FAF8;
}

.subtext {
    color: lightgray;
}

.sign-up {
    background-color:#3882F6;
    color:white;
    width: 100px;
    height: 30px;
    border-radius:5px;
    border-style: initial;
    font-weight: bold;
}

.img-holder {
    display: flex;
    width: 350px;
    height: 150px;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    text-align: center;
    font-size: 36px;
    height: 300px;
}

.info-header {
    padding-top: 30px;
    font-weight: 900;
    color: #1F2937;
}

.blocks /* Image blocks container */ {
    background: white;
    background-repeat: no;
    align-items: center;
    font-size: 13px;
}

.blocks img {
    border: solid;
    border-color:#3882F6;
    border-radius: 10px;
    margin: 15px;
    padding: 60px;
}

.blocks p {
    margin: 15px;
    padding: 60px;
}


