/* Content Containers are spaced with margin-top: 25px; */
.html {
    margin-left: 10px;
    margin-right: 10px;
}

.body-class {
    font-family: 'Roboto', sans-serif;
    background: rgba(115, 48, 70, .85);
    margin-top: 10px;
    max-width: 1080px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    background-color: rgb(115, 48, 70,);
    gap: 15px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    margin-right: 10px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #F7E6B1;
}

.heading {
    padding: 30px;
    color: white;
    border-radius: 10px;
    background-color: rgba(115, 48, 70, 1);
}

.splash h1 {
    font-size: 35px;
    font-weight: 800;
    color:F9FAF8;
}

.subtext {
    color: lightgray;
    font-size: 16px;
}

.button {
    background-color: #6CCDD5;
    color: whitesmoke;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-style: initial;
    font-weight: bold;
}

.button:hover{
    color: black;
    background-color: #F7E6B1;
}

.main {
    background-color: rgba(115, 48, 70, 1);
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    padding-bottom: 100px;
    box-shadow: 0px 1px 30px white;
}

.info-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    color: white;
    font-size: 20px;
}

 /* Image blocks containers */
#blocks {
    background: rgba(115, 48, 70, 1);
    background-repeat: no;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    color: white;
    margin: 10px;
}

#blocks img {
    border-radius: 15px;
    height: 75px;
    width: 75px;
}

#blocks img:hover {
    transform: scale(115%)
}

.quote {
    background-color: rgba(115, 48, 70, 1);
    border-radius: 10px;
    margin-top: 25px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote p {
    color: white;
}

.quote h3 {
    color:#F7E6B1;
}

.call-action {
    margin-top: 25px;
    border-radius: 10px;
    background-color: #baac83;
    color: white;
    padding: 10px;
}

#action-butt {
    border-style:initial;
    border-radius: 5px;
    height: 25px;
    width: 65px;
    margin-left: 83%;   
    background-color: white;
    font-size: 13px;
}

#action-butt:hover {
    color: white;
    background-color: rgba(115, 48, 70, .85);
}

.call-action h3 {
    font-size: 24px;
}

.bottom {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    background: rgba(115, 48, 70, .85);
    border-radius: 10px;
    color: white;
    padding: 1px;
}