/* Content Containers are spaced with margin-top: 25px;*/
.html {
    margin-left: 10px;
    margin-right: 10px;
}

.body-class {
    font-family: Bangers,'Roboto', sans-serif;
    background: #cc75ad;
    margin-top: 10px;
    max-width: 1080px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
}

.nav-bar a {
    color: white;
    font-style: italic;
}

.nav-bar a:hover {
    color: #ADCC75;
}

.heading {
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #924f7b ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-size: larger;
}

.splash h1 {
    font-size: 35px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    color: lightgray;
    font-size: 16px;
}

.button {
    background-color: white;
    color: black;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-style: initial;
    margin-top: 85px;
    font-family: Bangers;
}

.button:hover{
    background-color: #ADCC75;
    color: white;
}

.main {
    background-color: #75ADCC;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    padding-bottom: 100px;
    box-shadow: 0px 1px 30px whitesmoke;
}

.info-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    color: white;
    font-size: 30px;
}

 /* Image blocks containers */
#blocks {
    background: #75ADCC;
    background-repeat: no;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
    color: white;
    margin: 10px;
}

#blocks img {
    border-radius: 45px;
    height: 130px;
    width: 130px;
    box-shadow: 0px 1px 15px white;
}

#blocks img:hover {
    transform: scale(115%)
}

.quote {
    background-color: #924f7b ;
    border-radius: 10px;
    margin-top: 25px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.quote p {
    color: lightgray;
}

.quote h3 {
    color:white;
}

.footer {
    margin-top: 25px;
    border-radius: 10px;
    background-color: #75ADCC;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 1px 30px white;
    font-size: larger;
}

.footer p {
    max-width: 50%;
}

.action-butt {
    border-style:initial;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    background-color: white;
    font-size: 13;
    margin-top: auto;
    font-family: Bangers;
}

.action-butt:hover {
    color: white;
    background-color: #ADCC75;
}

.call-action h3 {
    font-size: 24px;
}

.credit {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.credit a {
    color: white;
}

.credit a:hover {
    color:#ADCC75;
}