.body-class {
    font-family: 'Roboto', sans-serif;
    background: #733046;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 10px;
}

.nav-bar {
    display: flex;
    background-color: #733046;
    gap: 30px;
    color: white;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

#page-header {
    font-size: 32px;
    flex: 2;
    color:F9FAF8;
}

#logo-img {
    height: 300px;
    width: 300px;
}

.main-heading {
    padding-top: 100px;
    padding-bottom: 175px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    color: white;
    height: 300px;
}

.splash {
    width: 350px;
}

.splash h1 {
    font-size: 54px;
    font-weight: 800;
    color:F9FAF8;
}

.subtext {
    color: lightgray;
    font-size: 16px;
}

.button {
    background-color: #6CCDD5;
    color: #1F2937;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: initial;
    font-weight: bold;
}

.main {
    background-color: white;
    font-size: 36px;
    height: 300px;
    text-align: center;
}

.info-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    color: #1F2937;
}

#blocks /* Image blocks container */ {
    background: white;
    background-repeat: no;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#blocks img {
    border: solid;
    border-color: #6CCDD5;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

